<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar</title>

  <link rel="stylesheet" href="../../assets/css/all.min.css"/>
  <link rel="stylesheet" href="../../assets/css/bootstrap.css"/>
</head>

<div class="custom-navbar-container">
  <div class="row">
    <div class="navbar-title col-lg-4">
      ShelfScape
    </div>
    <ul class="navbar-list col-lg-8">
      <li class="navbar-item">
        <a href="dashboard">Home</a>
      </li>
      <li class="navbar-item">
        <a href="books">Books</a>
      </li>
      <li class="navbar-item">
        <a href="my-reviews">My Reviews</a>
      </li>
      <li class="navbar-item search-item">
        <form [formGroup]="searchBooksFormGroup">
          <input type="text" placeholder="Search..." class="search-bar" id="searchQuery" formControlName="searchQuery"
                 (keyup.enter)="searchBooks()">
          <button class="search-icon-button" (click)="searchBooks()">
            <i class="fa fa-search"></i>
          </button>
        </form>
      </li>
      <li class="navbar-item">
        <a href="#">
          <i class="fa fa-sign-out"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
