html, body {
  margin: 0 !important;
  overflow-x: hidden;
  overflow-y: hidden;
}

.bookshelf-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.bookshelf-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bookshelf-img-container {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: blur(1px);
  transform: scale(1.05);
}
